[LayoutSettings]
backgroundStyle=0
color=orange
customBackground=
customTextColor=fcfcfc
lastUsedActivity=1fb0ea06-75b2-423f-9d1f-be11ff480ed3
launchers=
preferredForShortcutsTouched=false
showInMenu=true
version=2
